@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}



button {
  color: var(--primary) ;
  border:  var(--primary) solid 3px;
  padding: 1px 20px;
 
}

body {
  /* --primary: rgb(12, 222, 173); */
  --primary: rgba(0, 0, 0);
  color: rgb(var(--foreground-rgb));

}

